<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Recent News</h2>
                <hr class="light">
                <p class="text-faded">> <b> April 2021: Best Poster Award (2nd place), IS Poster Day, UMBC, Title: DeepPseudo: Pseudo Value Based Deep Learning Models for Competing Risk Analysis </b></p>
                <p class="text-faded">> <b> December 2020: Paper at AAAI 2021 : DeepPseudo: Pseudo Value Based Deep Learning Models for Competing Risk Analysis </b></p>
                <p class="text-faded">> <b> July 2020: Paper at KDD 2020 DS Health : Deep Learning for Competing Risk Analysis </b></p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
