<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">I am a second-year Ph.D. student in Information Systems at the University of Maryland Baltimore County (UMBC), advised by Dr. Sanjay Purushotham. My research focus is on the application of machine learning and statistical learning to healthcare. My research interests include survival analysis, deep learning, causal inference, explainable AI, quantifying uncertainty in machine learning models. I completed my B.Sc. and M.Sc. in Statistics from the University of Dhaka, Bangladesh. Before joining UMBC, I was an assistant director in the statistics department of the central bank of Bangladesh. I love music, traveling and playing soccer.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
