<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 style="color:#069"> <b> Recent News </b></h2>
                <hr class="light">
                <p class="text-faded">> <b> September 2021: Paper at AAAI 2021 Fall Symposium (Human Partnership with Medical AI: Design, Operationalization, and Ethics), Title: PseudoNAM: A pseudo value based interpretable neural additive model for survival analysis. </b></p>
                <p class="text-faded">> <b> April 2021: <a href="https://informationsystems.umbc.edu/home/research/is-poster-day/">Best Poster Award (2nd place), IS Poster Day, UMBC, Title: DeepPseudo: Pseudo Value Based Deep Learning Models for Competing Risk Analysis</a> </b></p>
                <p class="text-faded">> <b> January 2021: Paper at the Dhaka University Journal of Science: <a href="http://journal.library.du.ac.bd/index.php?journal=dujs&page=article&op=view&path%5B%5D=2499">Effect of Caesarean Section on Neonatal Health in Bangladesh after Controlling Selection Bias: Propensity Score Based Analysis. </a></b></p>
                <p class="text-faded">> <b> December 2020: Paper at AAAI 2021 : <a href="https://ojs.aaai.org/index.php/AAAI/article/view/16125">DeepPseudo: Pseudo Value Based Deep Learning Models for Competing Risk Analysis </a></b></p>
                <p class="text-faded">> <b> July 2020: Paper at KDD 2020 DS Health : <a href="https://dshealthkdd.github.io/dshealth-2020/#papers"> DeepPseudo: A Deep learning approach based on Pseudo values for Competing Risk Analysis </a></b></p>
<!--                 <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                <hr class="light">
                
                <h2 style="color:#069"><b>Education</b></h2>
                <hr class="light">
                
                <p style="color:black"> <b>University of Maryland Baltimore County, Maryland, USA </b><br>
                PhD in Information Systems. Expected: May 2024 <br>
                <b>CGPA:</b> 3.86<br>
                I am doing my Ph.D. under the supervision of Dr. Sanjay Purushotham. I work on developing efficient and explainable machine learning algorithms for healthcare data analysis.<br>
                <b>Relevant Courses:</b> Deep Learning, Selected Topics in Machine Learning, Causal Inference in Artificial Intelligence and Machine Learning, Graphical and Statistical Models of Learning, Data Analytics: Applications in Healthcare with R, Introduction to Natural Language Processing.</p>
       
                <p style="color:black"> <b>University of Dhaka, Dhaka, Bangladesh </b><br>
                MSc in Statistics. August 2016<br>
                <b>GPA:</b> 3.89<br>
                I did my thesis on "Adjusted Effect of Caesarean Section on Neonatal Health in Bangladesh: Propensity Score Based Analysis." The paper aims at exploring the true effect of cesarean section on early neonatal mortality, neonatal mortality. Due to the influence of confounders and unbalanced treatment assignments, we get biased treatment effects. To overcome the problem, propensity score methods have been introduced.</br>
                <b>Relevant Courses:</b> Theory of Inference, Advanced Biostatistics, Applied Multivariate Analysis, Statistical Methods for Artificial Intelligence, Design and Analysis of Experiment, Advanced Econometrics.</p>
                
                <p style="color:black"> <b>University of Dhaka, Dhaka, Bangladesh </b><br>
                BSc in Statistics. May 2015 <br>
                <b>CGPA:</b> 3.78<br>
                <b>Relevant Courses:</b> Probability, Linear algebra, Calculus-I & II, Real analysis, Ordinary differential equation, Sampling techniques I & II, Sampling distribution, Demography, Theory of Estimation, Test of hypothesis, Regression analysis, Industrial statistics & Operations research, Simulation, Epidemiology, Time series analysis, Multivariate analysis, Stochastic processes, Biostatistics, Introduction to robust statistics, Introduction to artificial intelligence, Research methodology & survey project.</p>                                
                <hr class="light">
            </div>
        </div>
    </div>
</section>
