<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.linkedin.com/in/{{ site.md-mahmudur-rahman-20b1ab109 }}">
                <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.md-mahmudur-rahman-20b1ab109 }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.mrahman6@umbc.edu }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.mrahman6@umbc.edu }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.mrahman93 }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.mrahman93 }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://scholar.google.com/{{ site.citations?hl=en&user=pusuoOgAAAAJ}}">
            <i class="fa fa-google fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.citations?hl=en&user=pusuoOgAAAAJ}}</p>
            </a>
        </div>

    </div>
</section>
