<div id="contact">
        
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 style="color:#069"> <b> Get in Touch</b></h2>
                <div id="contact-form">
                        <form
                          action="https://formspree.io/f/mpzkblde"
                          method="POST"
                        >
                          <label>
                            Your Name:
                            <input type="text" name="name">
                          </label>
                          <label>
                            Your Email:
                            <input type="email" name="_replyto">
                          </label>
                          <label>
                            Your Message:
                            <textarea name="message"></textarea>
                          </label>
                          <button type="submit">Send</button>
                        </form>
<!--                         <form action="https://formspree.io/mrahman6@umbc.edu" method="post">
                          Name: <input type="text" name="name"></br>
                          Email: <input type="text" name="email"></br>
                          Message: <textarea name="message" cols="50", rows="10"></textarea>
                          <input type="submit" value="Send Message">
                        </form> -->
              </div>
         </div>
     </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 style="color:#069"> <b> Contact</b></h2>
<!--                 <h2 class="section-heading">Contact</h2> -->
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.linkedin.com/in/md-mahmudur-rahman-20b1ab109/">
                <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.md-mahmudur-rahman-20b1ab109 }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mrahman6@umbc.edu">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/mrahman93">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
<!--                 <p>{{ site.mrahman93 }}</p> -->
            </a>
        </div>
    </div>
</section>




