<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>I'm Md Mahmudur Rahman</h1>
            <hr>
            <img src="img/Mahmud2.jpg" class="rounded" alt="Cinque Terre">
            <p><b>I am a second-year Ph.D. student in Information Systems at the University of Maryland Baltimore County (UMBC), advised by Dr. Sanjay Purushotham. 
                My research focus is on the application of machine learning and statistical learning to healthcare. 
                My research interests include survival analysis, deep learning, causal inference, explainable AI, quantifying uncertainty in machine learning models. 
                I completed my B.Sc. and M.Sc. in Statistics from the University of Dhaka, Bangladesh. 
                Before joining UMBC, I was an assistant director in the statistics department of the central bank of Bangladesh.</b></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
