<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/mahmud.png" class="rounded" alt="Cinque Terre">
            <hr>
            <p><b>I was a statistics graduate who fell in love with machine learning and continued developing skills in machine learning to solve real-world problems. To achieve my dream of being a renowned machine learning researcher, I flew from Bangladesh to the USA and got myself admitted into the Information Systems department at the <a href="https://www.umbc.edu/"> University of Maryland, Baltimore County (UMBC)</a> to do my Ph.D. in Machine Learning for Healthcare, advised by <a href="https://sanjayp.is.umbc.edu/">Dr. Sanjay Purushotham</a>. I am a fourth-year Ph.D. student and actively looking for an internship opportunity on ML for healthcare, Federated Learning and Fairness in AI. 
                </b></p>  
<!--             <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
               <a href="https://github.com/mrahman93/mrahman93.github.io/tree/gh-pages/img/Resume_Md_Mahmudur_Rahman.pdf" class="btn btn-primary btn-xl"> Download Resume</a>
        </div>
    </div>
</header>

