<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/mahmud.png" class="rounded" alt="Cinque Terre">
            <hr>
            <p><b>I am a Ph.D. student in the <a href="https://informationsystems.umbc.edu/">Information Systems department</a> at the <a href="https://www.umbc.edu/">University of Maryland Baltimore County (UMBC)</a>, advised by Dr. Sanjay Purushotham. 
                I am working as a graduate research assistant at <a href="https://sanjayp.is.umbc.edu/">Dr. Sanjay's lab</a>. I have great enthusiasm for statistics, machine learning, and deep learning and their applications to solving the real-world problems, especially to address the challenges in healthcare. 
                My research interest includes survival analysis, causal inference, explainable AI, quantifying uncertainty in machine learning models, and medical image analysis. 
                I completed my B.Sc. and M.Sc. in Statistics from the University of Dhaka, Bangladesh. 
                Before joining UMBC, I was an assistant director in the statistics department of the central bank of Bangladesh.</b></p>
<!--             <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            <pdf src="img/Resume_Md_Mahmudur_Rahman.pdf class="btn btn-primary btn-xl>Download Resume</a>
        </div>
    </div>
</header>
