<section class="bg-primary" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 style="color:#069"> <b> Publications </b></h2>
                <hr class="light">
                <p class="text-faded">> <a href="https://ojs.aaai.org/index.php/AAAI/article/view/16125">DeepPseudo: Pseudo Value Based Deep Learning Models for Competing Risk Analysis </a><b><br> MM Rahman, K Matsuo, S Matsuzaki, S Purushotham. Proceedings of the AAAI Conference on Artificial Intelligence 35 (1), 479-487</b></p>
                <p class="text-faded">> <a href="https://sanjayp.is.umbc.edu/KDD_2020_camera_ready.pdf">Deep Learning for Competing Risk Analysis</a><b><br>Rahman, Md Mahamudur and Matsuzaki, Shinya and Matsuo, Koji and Purushotham, Sanjay. 2020 KDD Workshop on Applied Data Science for Healthcare, KDD Virtual Conference, 2020</b></p>
                <p class="text-faded">> <a href="http://journal.library.du.ac.bd/index.php?journal=dujs&page=article&op=view&path%5B%5D=2499">Effect of Caesarean Section on Neonatal Health in Bangladesh after Controlling Selection Bias: Propensity Score Based Analysis.</a><b><br>Md Mahmudur Rahman, Sabina Sharmin, Taslim Sazzad Mallick. The Dhaka University Journal of Science, 2021</b></p>
                <hr class="light">
                
                <h2 style="color:#069"> <b> Projects</b></h2>
                <hr class="light">
                <p class="text-faded">> <b>Estimating the True Effect of Treatment on Outcome using Efficient Causal Inference Models</b><br>
                Jan 2021 – May 2021 <br></p>
                <p class="text-faded">> <b>A Pseudo-value based Neural Additive Model for Multi-state Survival Analysis</b><br>
                Sep 2020 – Dec 2020 <br></p>
                <p class="text-faded">> <b>Application of Referring Expression on Lecture-Style Slides</b><br>
                Sep 2020 – Dec 2020 <br></p>
                <p class="text-faded">> <b>Can We Believe Deep Learning Models? An Empirical Analysis of Deep Learning Model’s Performance by Explainable Methods</b><br>
                Jan 2020 – May 2020 <br></p>                
                <p class="text-faded">> <b>A review on graphical and statistical modeling</b><br>
                Jan 2020 – May 2020 <br></p>
                <p class="text-faded">> <b>Machine learning approaches to Predict Early Sepsis in Incentive Care Unit</b><br>
                Sep 2019 – Dec 2019 <br></p>
                <p class="text-faded">> <b>Are you doing your exercise correctly? Detecting Abnormal Body Positions during Weight Training Exercise from Sensor Data</b><br>
                Sep 2019 – Dec 2019 <br></p>
                <p class="text-faded">> <b>A Review on Competing Risk Analysis</b><br>
                Sep 2019 – Dec 2019 <br></p>                
                <hr class="light">
            </div>
        </div>
    </div>
</section>



