<section class="bg-primary" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 style="color:#069"> <b> Publications </b></h2>
                <hr class="light">
                <p class="text-faded">> Federated Survival Analysis with Competing Events (Abstract). <b><br>Rahman, Md Mahamudur </b> and Purushotham, Sanjay. <b><br> CISS 2023.</b></p>
                <p class="text-faded">> Multi-state survival analysis using pseudo value-based deep neural networks. <b><br>Rahman, Md Mahamudur </b> and Purushotham, Sanjay.  <b><br> SIAM SDM 2023.</b></p>
                <p class="text-faded">> Fair and interpretable models for survival analysis. <b><br>Rahman, Md Mahamudur </b> and Purushotham, Sanjay. <b><br> ACM SIGKDD 2022.</b></p>
                <p class="text-faded">> Fedpseudo: Pseudo value-based deep learning models for federated survival analysis. <b><br>Rahman, Md Mahamudur </b> and Purushotham, Sanjay.  <b><br> KDD Workshop on Applied Data Science for Healthcare 2022.</b></p>
                <p class="text-faded">> Pseudo value-based deep neural networks for multistate survival analysis. <b><br>Rahman, Md Mahamudur </b> and Purushotham, Sanjay. <b><br> KDD Workshop on Applied Data Science for Healthcare 2022.</b></p>
                <p class="text-faded">> A pseudo value based interpretable neural additive model for survival analysis. <b><br>Rahman, Md Mahamudur </b> and Purushotham, Sanjay.  <b><br> AAAI 22 workshop on "Trustworthy AI for Healthcare".</b></p>
                <p class="text-faded">> PseudoNAM: A pseudo value based interpretable neural additive model for survival analysis. <b><br>Rahman, Md Mahamudur </b> and Purushotham, Sanjay. <b><br> AAAI 2021 Fall Symposium.</b></p>
                <p class="text-faded">> DeepPseudo: Pseudo Value Based Deep Learning Models for Competing Risk Analysis. <b><br>Rahman, Md Mahamudur </b>, K Matsuo, S Matsuzaki, S Purushotham. <b><br> AAAI 2021</b></p>
                <p class="text-faded">> Deep Learning for Competing Risk Analysis. <b><br>Rahman, Md Mahamudur </b> and Matsuzaki, Shinya and Matsuo, Koji and Purushotham, Sanjay. <b><br> KDD Workshop on Applied Data Science for Healthcare 2020</b></p>
                <p class="text-faded">> Effect of Caesarean Section on Neonatal Health in Bangladesh after Controlling Selection Bias: Propensity Score Based Analysis. <b><br>Rahman, Md Mahamudur </b>, Sabina Sharmin, Taslim Sazzad Mallick. <b><br> The Dhaka University Journal of Science, 2021</b></p>s. Md Mahmudur Rahman, Sabina Sharmin, Taslim Sazzad Mallick. <b><br> The Dhaka University Journal of Science, 2021</b></p>
                <hr class="light">
            </div>
        </div>
    </div>
</section>



