<section class="bg-primary" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">               
                <h2 style="color:#069"> <b> Awards</b></h2>
                <hr class="light">
                <p class="text-faded">> <b>SIAM Student Travel Award, SIAM International Conference on Data Mining, SDM23.</b><br>
                </p>
                <hr class="light">
                <p class="text-faded">> <b>1st Place - PhD/Postdoc Completed Research Track, IS Research Symposium, UMBC.</b><br>
                </p>
                <hr class="light">
                <p class="text-faded">> <b>KDD-22 Student Scholarship, ACM SIGKDD.<br></p>                
                <hr class="light">
                <p class="text-faded">> <b> AAAI-22 Student Scholarship, AAAI.<br></p>               
                <hr class="light">
                <p class="text-faded">> <b> Best Poster Award, IS Poster Day, UMBC.<br></p>               
                <hr class="light"> 
                <p class="text-faded">> <b> AAAI-21 Student Scholarship, AAAI.<br></p>               
                <hr class="light">
                <p class="text-faded">> <b> Dean’s Award, University of Dhaka, Bangladesh.<br></p>               
                <hr class="light">  
                <p class="text-faded">> <b> NST Fellowship for Research, Ministry of Science and Technology, Bangladesh.<br></p>
            </div>
        </div>
    </div>
</section>

