<section class="bg-primary" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">               
                <h2 style="color:#069"> <b> Projects</b></h2>
                <hr class="light">
                <p class="text-faded">> <b>Estimating the True Effect of Treatment on Outcome using Efficient Causal Inference Models</b><br>
                Jan 2021 – May 2021 <br></p>
                <p class="text-faded">> <b>A Pseudo-value based Neural Additive Model for Multi-state Survival Analysis</b><br>
                Sep 2020 – Dec 2020 <br></p>
                <p class="text-faded">> <b>Application of Referring Expression on Lecture-Style Slides</b><br>
                Sep 2020 – Dec 2020 <br></p>
                <p class="text-faded">> <b>Can We Believe Deep Learning Models? An Empirical Analysis of Deep Learning Model’s Performance by Explainable Methods</b><br>
                Jan 2020 – May 2020 <br></p>                
                <p class="text-faded">> <b>A review on graphical and statistical modeling</b><br>
                Jan 2020 – May 2020 <br></p>
                <p class="text-faded">> <b>Machine learning approaches to Predict Early Sepsis in Incentive Care Unit</b><br>
                Sep 2019 – Dec 2019 <br></p>
                <p class="text-faded">> <b>Are you doing your exercise correctly? Detecting Abnormal Body Positions during Weight Training Exercise from Sensor Data</b><br>
                Sep 2019 – Dec 2019 <br></p>
                <p class="text-faded">> <b>A Review on Competing Risk Analysis</b><br>
                Sep 2019 – Dec 2019 <br></p>                
                <hr class="light">
            </div>
        </div>
    </div>
</section>

