<section class="bg-primary" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">               
                <h2 style="color:#069"> <b> Projects</b></h2>
                <hr class="light">
                <p class="text-faded">> <b>Estimating the True Effect of Treatment on Outcome using Efficient Causal Inference Models (Jan 2021 - May 2021)</b><br>
                We compared the structural causal model (SCM) and propensity score (PS) based causal inference methods on risk predictions and proposed a novel approach for estimating the individualized treatment effect on outcome by retraining the model with the flipped labels in the training dataset. <br></p>
                <p class="text-faded">> <b>A Pseudo-value based Neural Additive Model for Multi-state Survival Analysis (Sep 2020 - Dec 2020)</b><br>
                We proposed a interpretable neural additive multi-state model based on pseudo values (derived from a consistent Landmark Aalen-Johansen estimator) to provide better insights into the disease progression of the patients, relaxing the underlying stochastic assumptions. <br></p>
                <p class="text-faded">> <b>Application of Referring Expression on Lecture-Style Slides</b><br>
                Sep 2020 – Dec 2020 <br></p>
                <p class="text-faded">> <b>Comparing the explainability of the Deep Learning Models (Jan 2020 - May 2020)</b><br>
                We compared the performance of some deep learning models, such as VGG-16 and RESNET-50, based on the explainability. An explainable method named Gradient Class Activation Mapping (Grad-Cam) was used to explain the models' predictions, which can capture the relevant region/pixels of an image. <br></p>                
                <p class="text-faded">> <b>Machine learning approaches to Predict Early Sepsis in Incentive Care Unit (Sep 2019 - Dec 2019)</b><br>
                The project's goal was to predict sepsis among ICU patients at an early stage using non-temporal machine learning approaches. <br></p>               
                <hr class="light">
            </div>
        </div>
    </div>
</section>

