<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">               
                <h2 style="color:#069"><b>Experiences</b></h2>
                <hr class="light">
                <p style="color:black"> <b>Graduate Teachine Assistant</b><br>
                Course: Deep Learning <br>
                University of Maryland Baltimore County, Maryland, USA <br>
                January 2023 - Present </p>
                <hr class="light">
                <p style="color:black"> <b>Graduate Research Assistant</b><br>
                Dr. Sanjay's lab <br>
                University of Maryland Baltimore County, Maryland, USA <br>
                August 2019 - December 2022 </p>
                <hr class="light">
                <p style="color:black"> <b>Deputy Director</b><br>
                Statistics Department, Bangladesh Bank [The Central Bank of Bangladesh] <br>
                December 2020 - Present (On study leave) </p>
                <hr class="light">
                <p style="color:black"> <b>Assistant Director</b><br>
                Statistics Department, Bangladesh Bank [The Central Bank of Bangladesh] <br>
                April 2018 - December 2020 </p>
                <hr class="light">
                <p style="color:black"> <b>Lecturer in Statistics</b><br>
                BUBT - Bangladesh University of Business and Technology <br>
                June 2017 - September 2017 </p>
                <hr class="light">
                <p style="color:black"> <b>Graduate Teaching Assistant</b><br>
                East West University, Bangladesh <br>
                September 2016 - April 2017 </p>
                <hr class="light">
                <p style="color:black"> <b>Research Assistant</b><br>
                Access to Information (a2i) (PMO), Bangladesh <br>
                July 2015 - August 2015 </p>   
 
                <hr class="light">             
                <h2 style="color:#069"><b>Professional Activities</b></h2>
                <hr class="light">
                <p style="color:black"> <b>Reviewer</b><br>
                57th Annual Conference on Information Sciences and Systems <br>
                August 2022 </p>
                <hr class="light">
                <p style="color:black"> <b>Volunteer</b><br>
                ACM SIGKDD Conference on Knowledge Discovery and Data Mining 2022 <br>
                August 2022 </p>
                <hr class="light">
                <p style="color:black"> <b>Volunteer</b><br>
                35th AAAI conference on Artificial Intelligence <br>
                February 2021 </p>
                <p style="color:black"> <b>Volunteer</b><br>
                Dhaka University Statistics Department Alumni Association (DUSDAA) <br>
                December 2015 </p>
            </div>
        </div>
    </div>
</section>


