<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">               
                <h2 style="color:#069"><b>Experiences</b></h2>
                <hr class="light">
                <p style="color:black"> <b>Graduate Research Assistant</b><br>
                Dr. Sanjay's lab <br>
                University of Maryland Baltimore County, Maryland, USA <br>
                August 2019 - Present </p>
                <p style="color:black"> <b>Responsibilities:</b><br>
                 • Developing deep learning algorithms for survival analysis, competing risk analysis, and multi-state modeling.<br>
                 • Developing interpretable machine learning models for healthcare data analysis.<br>
                 • Quantifying uncertainty in machine learning predictions and making causal inferences from the observational data.<br>
                 • Analyzing multi-modal data (clinical data and medical image data) for risk predictions.</p>
                <hr class="light">
                <p style="color:black"> <b>Deputy Director</b><br>
                Statistics Department, Bangladesh Bank [The Central Bank of Bangladesh] <br>
                December 2020 - Present (On study leave) </p>
                <p style="color:black"> <b>Responsibilities:</b><br>
                 • Preprocessing and analyzing Export Receipts of Bangladesh & Central Account data using Enterprise Data Warehouse system.<br>
                 • Preparing the quarterly & annual review on Export Receipts and the manuscript of \Annual Export Receipts of Goods & Services".</p>
                <hr class="light">
                <p style="color:black"> <b>Lecturer in Statistics</b><br>
                BUBT - Bangladesh University of Business and Technology <br>
                June 2017 - September 2017 </p>
                <p style="color:black"> <b>Responsibilities:</b><br>
                 • Designing and implementing effective teaching and assessing the students' work and progress, providing constructive feedback.</p>
                <hr class="light">
                <p style="color:black"> <b>Graduate Teaching Assistant</b><br>
                East West University, Bangladesh <br>
                September 2016 - April 2017 </p>
                <p style="color:black"> <b>Responsibilities:</b><br>
                 • Guiding the class discussions & supervising laboratory work. <br>
                 • Teaching undergraduate and graduate lab courses (Data Analysis with SPSS, Microsoft Excel, and R).</p>

                <hr class="light">
                <p style="color:black"> <b>Research Assistant</b><br>
                Access to Information (a2i) (PMO), Bangladesh <br>
                July 2015 - August 2015 </p>
                <p style="color:black"> <b>Responsibilities:</b><br>
                 • Developing questionnaires after conceptualization.<br>
                 • Collecting, preprocessing, analyzing and visualizing data using statistical tools.</p>          
 
                <hr class="light">             
                <h2 style="color:#069"><b>Volunteer Experiences</b></h2>
                <hr class="light">
                <p style="color:black"> <b>Volunteer</b><br>
                35th AAAI conference on Artificial Intelligence <br>
                February 2021 </p>
                <p style="color:black"> <b>Volunteer</b><br>
                Dhaka University Statistics Department Alumni Association (DUSDAA) <br>
                December 2015 </p>
            </div>
        </div>
    </div>
</section>


