<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 style="color:#069"><b>Education</b></h2>
                <hr class="light">
                <p style="color:black"> <b>University of Maryland Baltimore County, Maryland, USA </b><br>
                PhD in Information Systems. TBD </p>
       
                <p style="color:black"> <b>University of Dhaka, Dhaka, Bangladesh </b><br>
                MSc in Statistics. August 2016</p>
                
                <p style="color:black"> <b>University of Dhaka, Dhaka, Bangladesh </b><br>
                BSc in Statistics. May 2015</p>                                
                <hr class="light">
                
                <h2 style="color:#069"><b>Experiences</b></h2>
                <hr class="light">
                <p style="color:black"> <b>Graduate Research Assistant</b><br>
                University of Maryland Baltimore County, Maryland, USA <br>
                August 2019 - Present </p>
                <p style="color:black"> Graduate research assistant in the Information Systems department at the University of Maryland, Baltimore County. 
                    My primary research area is artificial intelligence and machine learning. 
                    To be specific, my research is in the field of statistics, survival analysis, causal inference, explainable AI and quantifying uncertainty. 
                    The main objective of my research is to develop and apply deep learning algorithms to analyze healthcare data. </p>
       
                <p style="color:black"> <b>University of Dhaka, Dhaka, Bangladesh </b><br>
                MSc in Statistics. August 2016</p>
                
                <p style="color:black"> <b>University of Dhaka, Dhaka, Bangladesh </b><br>
                BSc in Statistics. May 2015</p>                                
                <hr class="light">
            </div>
        </div>
    </div>
</section>


